<div class="container">
    <p class="poppins-medium">Mis skills</p>

    <div class="div-skill-list">
        <div class="div-skill-1">
            <mat-card appearance="outlined">
                <mat-card-content>
                    <img src="../../../assets/icons/angular-icon.svg" alt="angular icon">
                </mat-card-content>
            </mat-card>
        </div>

        <div class="div-skill-2">
            <mat-card appearance="outlined">
                <mat-card-content>
                    <img src="../../../assets/icons/spring-boot-icon.svg" alt="springboot icon">
                </mat-card-content>
            </mat-card>
        </div>

        <div class="div-skill-3">
            <mat-card appearance="outlined">
                <mat-card-content>
                    <img src="../../../assets/icons/net-icon.svg" alt="NET Framework icon">
                </mat-card-content>
            </mat-card>
        </div>

        <div class="div-skill-4">
            <mat-card appearance="outlined">
                <mat-card-content>

                </mat-card-content>
            </mat-card>
        </div>

        <div class="div-skill-5">
            <mat-card appearance="outlined">
                <mat-card-content>
                    <img src="../../../assets/icons/sql-server-icon.svg" alt=" SQL server icon">
                </mat-card-content>
            </mat-card>
        </div>

        <div class="div-skill-6">
            <mat-card appearance="outlined">
                <mat-card-content>
                    <img src="../../../assets/icons/java-icon.svg" alt="Java icon">
                </mat-card-content>
            </mat-card>
        </div>

        <div class="div-skill-7">
            <mat-card appearance="outlined" class="mat-card-content-details">
                <mat-card-content>
                    <p class="poppins-bold">+2</p>
                    <p class="poppins-semibold">a&ntilde;os de experiencia</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button color="primary" (click)="onDownloadPDFFIle()"> 
                        Descargar CV
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>