.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #060610;
    width: 100%;

    .poppins-medium {
        font-size: 64px;
    }

    .poppins-regular {
        font-size: 38px;
    }
}